html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    /*line-height: 1;*/
    min-height: 100%;
    position: relative;
    padding-bottom: 130px;
}

#footer {
    font-family: 'proximanova', sans-serif;
    height: 50px;
    width: 100%;
    background: rgba(205, 234, 241, 0.8);
    /*background: #cdeaf1;*/
    /*opacity: 0.8;*/
    color: #999;
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    /*  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: #999;*/
}
*, *::after, *::before {
    box-sizing: border-box;
}
.drop-area{
  height:25px;
  border: 1px solid #999;
  text-align: center;
  padding:10px;
  cursor:pointer;
  box-sizing: content-box;
}
#thumbnail img{
  width:100px;
  height:100px;
  margin:5px;
}
canvas{
  border:1px solid red;
}

.radio_src_group{
  margin-top: 15px;
}
.radio_src_group .control-label{
  font-size: 14px;
  font-weight: bold;
}

div.dialog_main_all{
  /*position: absolute;*/
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px 10px 10px 10px;
  position: fixed;
  left: 0;
  top: 0;
  display: block !important;
  height: 510px;
  width:  650px;
  background-color: #FFFFFF;
  z-index: 1002;
  border: 3px #CCCCCC solid; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  -khtml-border-radius:10px;
  border-radius: 10px; 
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
}
.modalOverlay{
    /*width: expression(this.parentNode.offsetWidth+'px');*/
    /*height: expression(this.parentNode.offsetHeight+'px');*/
    position: fixed;
    display: block !important;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100%;
    width:  100%;
    visibility: hidden;
    z-index: 1001;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
