
@font-face {
    font-family: 'proximanova';
    src: url('../fonts/proximanova-reg.eot');
    src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-reg.woff') format('woff'),
    url('../fonts/proximanova-reg.ttf') format('truetype'),
    url('../fonts/proximanova-reg.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-bold.woff') format('woff'),
    url('../fonts/proximanova-bold.ttf') format('truetype'),
    url('../fonts/proximanova-bold.svg#proxima_novaregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova';
    src: url('../fonts/proximanova-xbold.eot');
    src: url('../fonts/proximanova-xbold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-xbold.woff') format('woff'),
    url('../fonts/proximanova-xbold.ttf') format('truetype'),
    url('../fonts/proximanova-xbold.svg#proxima_novaregular') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova';
    src: url('../fonts/ProximaNovaLight.eot');
    src: url('../fonts/ProximaNovaLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNovaLight.woff') format('woff'),
    url('../fonts/ProximaNovaLight.ttf') format('truetype'),
    url('../fonts/ProximaNovaLight.svg#proxima_novaregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    /*line-height: 1;*/
    min-height: 100%;
    position: relative;
    padding-bottom: 130px;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
sub {
    vertical-align:sub
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
img {
    display: inline-block;
}
*, *::after, *::before {
    box-sizing: border-box;

}
a:visited {
    color: inherit;
}

.main-content > p{
    /*text-indent: 30px;*/
    text-align: justify;    
}
/*end reset*/
/* Grid*/
.col1  { width: 8.33333333%;
    float: left;}
.col2  { width: 16.66666667%;
    float: left;}
.col3  { width: 25%;
    float: left;}
.col4  { width: 33.33333333%;
    float: left;}
.col5  { width: 41.66666667%;
    float: left;}
.col6  { width: 50%;
    float: left;}
.col7  { width: 58.33333333%;
    float: left;}
.col8  { width: 66.66666667%;
    float: left;}
.col9  { width: 75%;
    float: left;}
.col10 { width: 83.33333333%;
    float: left;}
.col11 { width: 91.66666667%;
    float: left;}
.col12 { width: 100%;
    float: left;}

.offset-col1  {margin-left: 8.33333333%;}
.offset-col2  {margin-left: 16.66666667%;}
.offset-col3  {margin-left: 25%;}
.offset-col4  {margin-left: 33.33333333%;}
.offset-col5  {margin-left: 41.66666667%;}
.offset-col6  {margin-left: 50%;}
.offset-col7  {margin-left: 58.33333333%;}
.offset-col8  {margin-left: 66.66666667%;}
.offset-col9  {margin-left: 75%;}
.offset-col10 {margin-left: 83.33333333%;}
.offset-col11 {margin-left: 91.66666667%;}
.offset-col12 {margin-left: 100%;}

.row:after {
    content: "";
    display: block;
    clear: both;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}

.wrap {
    width: 1007px;
    margin: 0 auto;
}
/*end grid*/
/*global*/
a {
    color: #00aad4;
    text-decoration: underline;
    cursor: pointer;

}
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ff6600;
    text-decoration: inherit;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-overflow: '';
    border: 1px solid #37ABC8;
}
select::-ms-expand {
    display: none;
}
/*end global*/

/*General CSS*/

.xbold-blue {
    font-family: 'proximanova', sans-serif;
    color: #3dafcb;
    font-weight: 800;
}
.bold-blue {
    font-family: 'proximanova', sans-serif;
    color: #3dafcb;
    font-weight: 700;
}
.azure {
    color: #0088AA;
}
.uppercase {
    text-transform: uppercase;
}
.no-uppercase {
    text-transform: none;
}

.top-menu {
    font-family: 'proximanova', sans-serif;
    height: 50px;
    width: 100%;
    background: #e9eeeb;
    font-size: 1.025em;
}
.top-menu span, .top-menu img, .top-menu p, .login-word{
    line-height: 50px;
}
.top-menu img {
    vertical-align: middle;
}
.top-menu span, .top-menu p {

}
.key {
    margin-left: 5px;
}
.login-word {
    margin-left: 15px;
    color: #374837;
    text-decoration: none;
}
.promo-code {
    color: #ff6600;
    margin-left: 30px;
}
.head {
    font-family: 'proximanova', sans-serif;
    padding-top: 78px;
    height: 170px;
}
.main-logo { /* width/height = 2.09 */
    width: 180px;
    height: 86px;
    margin-left: 5px;
    margin-top: -35px;
}
.main-title {
    font-size: 1.25em;
    font-weight: 400;
    color: #006680;
    margin-top: -5px;
}

.main-contacts {
    margin-top: -7px;
    margin-left: 8px;
    font-size: 1.025em;
}
.main-contacts img{
    vertical-align: -25%;
    width: 23px;
    height: 23px;
}

.main-contacts p {
    line-height: 27px;
}

#main-nav {
    font-family: 'proximanova', sans-serif;
    height: 48px;
    background: #bae7f2;
    opacity: 0.8;
}
#main-nav ul>li {
    float: left;
    line-height: 48px;
    vertical-align: middle;
}
#main-nav ul>li>a {
    color: #222222;
    font-size: 1.0975em;
    letter-spacing: 0.08em;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .2s;
    text-decoration: none;
}
#main-nav ul>li>a:hover {
    color: #61bdd4;
}
#main-nav ul>li {
    margin-left: 50px;
}
#main-nav ul>li:nth-child(1) {
    margin-left: 5px;
}
.main-content {
    padding-right: 20px;
    font-family: 'proximanova', sans-serif;
    padding-left: 4px;
    padding-top: 15px;
    font-size: 1.025em;
    line-height: 1.3em;
}
.main-content h3 {
    font-size: 1.316em;
    color: #0088aa;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 700;
}
.main-content h3>span {
    font-weight: 700;
}
.main-content .not-pr {
    font-size: 1.15em;
    margin-bottom: 0.5em;
}
.main-content .title {
    font-size: 1.15em;
    font-weight: 600;
    color: #0088aa;
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-content ul>li {
    margin-bottom: 8px;
    padding-left: 17px;
    position: relative;
}
.main-content ul>li:before {
    background: none repeat scroll 0 0 #37abc8;
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    top: 7px;
    left: 0;
    width: 7px;
    height: 7px;
}
.sidebar {
    font-family: 'proximanova', sans-serif;
    padding-top: 25px;
    padding-left: 8px;
}
.sidebar .call-count {
    font-size: 1.025em;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.date-count {
    font-size: 0.8781em;
}
.pre-form-header {
    font-weight: 300;
    font-size: 1.3168em;
    color: #fd7317;
    letter-spacing: 0.03em;
}
.pre-form-header span{
    text-transform: none;
}
#feedback_form {
    font-size: 1.025em;
    margin-top: 22px;
}
#feedback_form textarea::-webkit-input-placeholder {font-size: 1.025em;font-family: 'proximanova', sans-serif;}
#feedback_form textarea::-moz-placeholder          {font-size: 1.025em;font-family: 'proximanova', sans-serif;}/* Firefox 19+ */
#feedback_form textarea:-moz-placeholder           {font-size: 1.025em;font-family: 'proximanova', sans-serif;}/* Firefox 18- */
#feedback_form textarea:-ms-input-placeholder      {font-size: 1.025em;font-family: 'proximanova', sans-serif;}
#feedback_form input::-webkit-input-placeholder {font-size: 1.025em;font-family: 'proximanova', sans-serif;}
#feedback_form input::-moz-placeholder          {font-size: 1.025em;font-family: 'proximanova', sans-serif;}/* Firefox 19+ */
#feedback_form input:-moz-placeholder           {font-size: 1.025em;font-family: 'proximanova', sans-serif;}/* Firefox 18- */
#feedback_form input:-ms-input-placeholder      {font-size: 1.025em;font-family: 'proximanova', sans-serif;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

#feedback_form .form-mail {
    width: 228px;
    height: 22px;
    border: 1px solid #cccccc;
    margin-bottom: 8px;
    padding: 4px;
}
#feedback_form .form-phone {
    width: 228px;
    height: 22px;
    border: 1px solid #cccccc;
    margin-bottom: 8px;
    padding: 4px;
}
#feedback_form textarea {
    width: 228px;
    height: 132px;
    border: 1px solid #cccccc;
    padding: 4px;
    margin-bottom: 12px;
}
/*mail-button animation*/
.button-mail {
    display: block;
    cursor: pointer;
    position: relative;
    background: none;
    border: 2px solid #fd7317;
    min-width: 170px;
    height: 45px;
    overflow: hidden;
    transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0s;
    transform-origin: 50% 100% 0;
    -webkit-transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0s;
    -webkit-transform-origin: 50% 100% 0;
}
.button-mail .button-mail-icon {
    display: block;
    background: url("../img/letter-ico-black.png") no-repeat 50% 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 20px;
    transform: translate3d(-50%, 0px, 0px);
    transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0s;
    -webkit-transform: translate3d(-50%, 0px, 0px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0s;
}
.button-mail:hover .button-mail-icon {
    transform: translate3d(-50%, -100%, 0px);
    transition-delay: 0.1s;
    -webkit-transform: translate3d(-50%, -100%, 0px);
    -webkit-transition-delay: 0.1s;
}
.button-mail > span {
    font-family: 'proximanova', sans-serif;
    font-size: 1.20em;
    display: block;
    padding: 10px;
    transition-delay: 0.3s;
    transition-duration: 0.3s, 0.3s;
    transition-property: transform, opacity;
    transition-timing-function: ease, ease;
    -webkit-transition-delay: 0.3s;
    -webkit-transition-duration: 0.3s, 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-timing-function: ease, ease;
}
.button-mail:hover > span {
    opacity: 0;
    transform:translate3d(0px, -50%, 0px);
    transition-delay: 0s;
    -webkit-transform: translate3d(0px, -50%, 0px);
    -webkit-transition-delay: 0s;
}
/*end mail-button animation*/
/*flipper css*/
.flip-container {
    position: relative;
}
.flipper {
    display: block;
    position: relative;
    color: transparent;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transform-origin: 50% 50% 0;
    transform-style: preserve-3d;
    transition: all 0.5s ease 0s;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease 0s;
}
.front, .back {
    /*backface-visibility: hidden;*/
    /*-moz-backface-visibility: hidden;*/
    /*-webkit-backface-visibility: hidden;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.front {
    transform: rotateX(0deg);
    z-index: 2;
    -webkit-transform: rotateX(0deg);
}
.back {
    transform: rotateX(180deg);
    overflow-y: hidden;
    -webkit-transform: rotateX(180deg);
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
}
.description {
    color: #000000;
    font-size: 0.875em;
    line-height: 1.2;
    padding: 5px;
    text-align: left;
}
/*end flipper css*/

.connect-button {
    font-family: 'proximanova', sans-serif;
    width: 213px;
    height: 60px;
    font-size: 1.553em;
    color: #ff6600;
    background: none;
    border: 3px solid #ff6600;
    border-radius: 8px;
    margin-left: 407px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: background .3s;
}
.connect-button:hover {
    color: #ffffff;
    background: #ff6600;
}
a.connect-button {
    text-decoration: none;
    display:block;
    line-height: 2.1;
    text-align: center;
    font-color: #ff6600;
    color: #ff6600;
}

#footer {
    font-family: 'proximanova', sans-serif;
    height: 130px;
    width: 100%;
    background: rgba(205, 234, 241, 0.8);
    /*background: #cdeaf1;*/
    /*opacity: 0.8;*/
    color: #333333;
    font-size: 1.025em;
    padding-top: 35px;
    position: absolute;
    bottom: 0;
}
.footer-logo { /*width/height = 2.09*/
    width: 140px;
    height: 67px;
    padding-left: 5px;
    margin-top: -10px;
}
.copyright {
    margin-left: 40px;
}
#footer ul>li>a {
    color: #333333;
    transition: color .2s;
    text-decoration: none;
    line-height: 1.25em;
}
#footer ul>li>a:hover {
    color: #61bdd4;
}
.social img{
    margin-left: 10px;
}

/*END General CSS*/


.partners {
    margin-top: 35px;
}
.partners h3 {
    font-family: 'proximanova', sans-serif;
    font-weight: 700;
    color: #00AAD4;
    font-size: 1.3168em;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
.partners li {
    margin: 0 auto 10px;
}
/*flipper css*/
.flip-container {
    position: relative;
}
.flipper {
    display: block;
    position: relative;
    color: transparent;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transform-origin: 50% 50% 0;
    transform-style: preserve-3d;
    transition: all 0.5s ease 0s;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease 0s;
}
.front, .back {
    /*backface-visibility: hidden;*/
    /*-moz-backface-visibility: hidden;*/
    /*-webkit-backface-visibility: hidden;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.front {
    transform: rotateX(0deg);
    z-index: 2;
    -webkit-transform: rotateX(0deg);
}
.back {
    transform: rotateX(180deg);
    overflow-y: hidden;
    -webkit-transform: rotateX(180deg);
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
}
.description {
    color: #000000;
    font-size: 0.875em;
    line-height: 1.2;
    padding: 5px;
    text-align: left;
}
/*end flipper css*/

.flip-container.soda-logo {
    width: 100%;
    height: 125px;
}
.soda-logo .front{
    background: #ffffff url("../img/partners_logo/soda-logo.png") no-repeat 50% 50%;
}
.flip-container.prof-logo {
    width: 100%;
    height: 129px;
}
.prof-logo .front {
    background: #ffffff url("../img/partners_logo/profdigital-logo.png") no-repeat 50% 50%;
}
.flip-container.star-logo {
    width: 100%;
    height: 90px;
}
.star-logo .front{
    background: #ffffff url("../img/partners_logo/starM-logo.png") no-repeat 50% 50%;
}
.flip-container.aweb-logo {
    width: 100%;
    height: 90px;
}
.aweb-logo .front{
    background: #ffffff url("../img/partners_logo/aweb-logo.png") no-repeat 50% 50%;
}
.flip-container.webPromo-logo {
    width: 100%;
    height: 90px;
}
.webPromo-logo .front {
    background: #ffffff url("../img/partners_logo/webPromo-logo.png") no-repeat 50% 50%;
}
.flip-container.seo-logo {
    width: 100%;
    height: 90px;
}
.seo-logo .front{
    background: #ffffff url("../img/partners_logo/seo-logo.png") no-repeat 50% 50%;
}
.flip-container.primeAdv-logo {
    width: 100%;
    height: 90px;
}
.primeAdv-logo .front {
    background: #ffffff url("../img/partners_logo/primeADV-logo.png") no-repeat 50% 50%;
}
.flip-container.uaMaster-logo {
    width: 100%;
    height: 90px;
}
.uaMaster-logo .front {
    background: #ffffff url("../img/partners_logo/uamaster-logo.png") no-repeat 50% 50%;
}
.flip-container.prodex-logo {
    width: 100%;
    height: 90px;
}
.prodex-logo .front{
    background: #ffffff url("../img/partners_logo/prodex-logo.png") no-repeat 50% 50%;
}

/*END home CSS*/

/*Tarif CSS*/
/*.content-tarif {
    font-family: 'proximanova', sans-serif;
    padding-left: 4px;
    padding-top: 18px;
    font-size: 1.025em;
}
*/
/*calculator CSS*/
#calculator {
    background: #eaf6f9;
    min-width: 480px;
    max-width: 540px;
    margin-left: -15px;
    margin-top: 8px;
    padding: 10px 15px 10px 15px;
}
#calculator h5 {
    line-height: 2em;
    font-size: 1.025em;
}
#calculator h4 {
    font-size: 1.3125em;
    margin-top: 10px;
}
#sum_of_minute, #sum_of_monthly {
    font-weight: 700;
    color: #666666;
    margin-left: 20px;
}
#calculator h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
#calculator p {
    line-height: 1.75em;
    vertical-align: middle;
}
#calculator a {
    border-bottom: 1px dashed #00aad4;
    color: #000000;
}
#calculator a:hover {
    border-bottom: none;
    color: #ff6600;
}
#calculator .tooltip-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #00aad4;
}
#calculator .tooltip-link:hover {
    border-bottom: none;
    color: #ff6600;
}

#div_for_minute, #div_for_monthly {
    margin-top: 10px;
}
#count_of_minutes, #count_of_max_calls {
    width: 44px;
    background: url("/img/select-arrow.png") no-repeat 85% 50%;
    float: right;
    outline: none;
    text-indent: 2px;
    position: relative;
    top: 5px;
}
#count_of_minutes {
    width: 50px;
    background: url("/img/select-arrow.png") no-repeat 88% 50%;
}
.grn {
    float: right;
}
#minute_cost, #min_minutes {
    float: right;
}
/*END calculator CSS*/
.questions {
    margin-top: 15px;
}

/*END Tarif CSS*/

/*Tooltip CSS*/
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    font-family: "proximanova", sans-serif;
    font-size: 0.875em;
    line-height: 1.2;
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
}
.tooltip.in {
    opacity: 1;
    /*filter: alpha(opacity=90);*/
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #37abc8;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #37abc8;
}
/*#00455d*/
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #37abc8;
}
.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}
#header .head .wrap .main-title{
    line-height: 1.3;
}
/*END Tooltip CSS*/